li {
  list-style-type: none;
  padding: 10px;
}

.nav > a {
  font-size: 25px;
}

.nav-item > a {
  font-size: 15px;
  // font-family: Nexa;
}

.nav-text{
  font-size: 25px;
  // font-family: Poppins;
}

.above-sidebar {
  font-family: montserrat;
  font-weight: bold;
  font-size: 50px;
  color: white;
  padding: 40 0 0 40;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
          supported by Chrome, Edge, Opera and Firefox */
}

.color-surplus1 {
  font-size: 15px;
  color: rgb(243, 175, 50);
  font-weight: lighter;
}
